.grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
}

.card {
  width: 272px;
  margin-bottom: 20px;
}

.contentImg  {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card:hover {
  box-shadow: 0 2px 15px -3px rgb(0 0 0 / 17%), 0 10px 20px -2px rgb(0 0 0 / 14%);
}


.toggleEquipment {
  width: 210px;
  margin-bottom: 10px;
}


.displayImage {
  white-space: nowrap;
  font-size: 0.9em;
  color: #4f4f4f;
  font-weight: 600;
}
