.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card img {
  max-height: 200px;
}


.container-fluid .jumbotron, .container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}


.detailsbtn{
  position: absolute;
  right: 0;
  bottom: 0;
}

.heroImage {
  height: 250px;
  margin: 0 -8px;
  position: relative;
}
